[client]
# 客户端来源数据的默认字符集
default-character-set=utf8mb4
[mysql]
# 数据库默认字符集
default-character-set=utf8mb4
[mysqld]
# 系统时间设置
default_time_zone=+8:00
log_timestamps=SYSTEM
# 字符编码设置
character_set_server=utf8mb4
collation_server=utf8mb4_general_ci
# 表名存储在磁盘是小写的，但是比较的时候是不区分大小写
lower_case_table_names=1
# 最大连接数
max_connections=512
# 服务器在关闭非交互连接之前等待活动的秒数。 28800->720
wait_timeout=720
# 服务器在关闭交互连接之前等待活动的秒数。默认值 28800，单位 seconds
interactive_timeout=720
# 用于索引的缓冲区大小，增加它可得到更好的索引处理性能。
# 对于内存在4GB左右的服务器该参数可设置为256M或384M，默认为8M
key_buffer_size=256M
# 一个数据包或任何生成/中间字符串的最大大小,默认值 4MG
max_allowed_packet=16M
# 自动删除二进制日志文件的天数。默认值为0，表示“不自动删除”
expire_logs_days=10

# 设置所有日志存储类型
log_output=TABLE,FILE
# 开启慢查询日志
slow_query_log=ON
# 慢查询日志位置
slow_query_log_file=/var/log/mysql/slow.log
# 慢查询阀值，单位 s，默认 10
long_query_time=5
